@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: roboto, sans-serif;
    display:flex;
    flex-direction:column;
}
.header, .footer {
    display:flex;
    justify-content:space-between;
    padding: 16px;
    background-color: #1F2937;
    padding: 10px 200px 100px;
}
a, .hero-text{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
ul {

    display:flex;
    list-style:none;
    margin:0;
    padding:0;
    gap:16px;
}
.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
    gap: 50px;
    padding: 10px 200px 100px;
}
.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 0;
}
button{
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    flex-grow:0;
}
.hero-text > button{
    background-color: #3882f6;
    color: white;
}
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    height: 250px;
    width: 800px;
    color:white;
}
.info-text {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap: 50px;
    padding: 10px 200px 100px;
    color: #1F2937;
    font-weight: 900;
}
.info-text > button{
    background-color: #3882f6;
    color: white;